build_script.py
pass_link.txt
window_settings.json
AI_Bridge.iml
.key_store
bot_settings.json
settings.json

# Ignore specific folders
0. Temp/
logs/
venv/
__pycache__/
**/__pycache__/
.idea/
dist/
build/